In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
cost_data = pd.read_csv("Value_of_Energy_Cost.csv")

## Answer for Day4 Question 1

In [5]:
cost_data.groupby("Company Name")["Company Name"].count()

Company Name
1 State Street                              1
1-10 Bush Terminal Owner LP                 3
100 Church LLC                              2
100 Wall Investments                        3
120 Broadway Acquisitions JV, LLC (Ldmk)    3
                                           ..
WorldWide Plumbing Supply, Inc.             3
Wurtec Incorporated                         2
ZECRON TEXTILE, INC.                        2
Zeluck, Inc.                                1
gCreate LLC                                 3
Name: Company Name, Length: 787, dtype: int64

## Answer for Day4 Question 2

In [6]:
filter1 = cost_data["City"] == "Queens"
filter2 = cost_data["City"] == "QUEENS"
print(cost_data.where(filter1 | filter2).groupby("City")["Job created"].count().sum())

50

## Answer for Day4 Question 3

In [9]:
pattern = r'(@.*com)'
email_column = cost_data["company email"].dropna()
cost_data['domain'] = email_column.str.extract(pattern, expand=False)
print(cost_data.groupby("domain")["domain"].count())

domain
@ r-andcompany.com          1
@21st centuryoptics.com     3
@21stcenturyoptics.com      2
@4c.com                     1
@4over4.com                 4
                           ..
@wurtec.com                 2
@wwps.com                   3
@yahoo.com                 19
@yorkstudios.com            3
@zeluck.com                 1
Name: domain, Length: 524, dtype: int64